---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Stats from '../components/Stats.astro';
import Process from '../components/Process.astro';
import TechStack from '../components/TechStack.astro';
import Motivation from '../components/Motivation.astro';
import Portfolio from '../components/Portfolio.astro';
import EliteSections from '../components/EliteSections.astro';
import Contact from '../components/Contact.astro';
import TermsModal from '../components/TermsModal.astro';
import IOSGuide from '../components/IOSGuide.astro';
---

<Layout title="Soluciones Digitales">
	<main>
		<Hero />
		<Stats />
		<Services />
		<Process />
		<EliteSections />
		<TechStack />
		<Motivation />
		<Portfolio />
		<Contact />
	</main>
	<TermsModal />
	<IOSGuide />
</Layout>
